*{
    padding: 0;
    margin: 0;

    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color:white;
}

body{
    /* background-color: grey; */
    background-image: url(/images/backgroundpi.png);
    background-size:cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding: 1rem;

    margin-left: 3rem;
    margin-right: 3rem;
}

header img {
    /* border: 1px solid red; */
    width: 100px; /* Adjust this value as needed */
}

header nav {
    display: flex;
    /* border: 1px solid blue; */
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}



header nav a{
    /* border: 1px solid white; */
    text-transform: uppercase;

    transition: .2s all ease-in-out;
}

header nav a:hover{
    transition: all .2s ease-in-out;
    color: #ffcc00;
}

header button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    transition: all 0.2s ease-in-out;
}

header button:hover{
    transition: all .2s ease-in-out;

    background-color: #ffcc00;
    color:black;
}

header img,
header button {
    /* margin: 0 auto; */

    /* border: 1px solid red; */
}

header .logo{
    width: 200px;

    /* border: 1px solid white; */
}

header .contact{
    display: flex;
    justify-content: right;
    right: 0;
    /* justify-items: right; */
    width: 200px;
    /* border: 1px solid white; */
}

header.phone{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;

    margin-top: 0;
    padding-top: 0;
}

header.phone img{
    border: 1px solid yellow;
}

header.phone i{
    font-size: 29px;
    border:1px solid blue;
    margin-left: 0;
}

header.phone .logo{
    border: 1px solid purple;
    display: flex;
    justify-content: center;

    margin-left: 1rem;
    margin-right: 1rem;
}


@media only screen and (max-width: 600px) {

    header.desktop {
        display: none;
    }

    header.phone {
        display: flex;
    }

}